body {
  font-family: sans-serif;
}

.headerAndFooter {
 margin: 0px;
  background-color: #ea5169;
  text-align: center;
  /* margin: 0; */
}
<<<<<<< HEAD

/****img***/

img {
  width: 50%;
  height: 50;
}

.row {
  display: flex;
}
.column {
  flex: 33.33%;

}
.footer{
  position: sticky;
  left: 0;
  bottom: 0;
  margin-bottom: 0%;
  margin-left: 0%;
}
=======
>>>>>>> parent of a2121a9... commit 3 add pic and para
