body {
  font-family: sans-serif;
    margin: auto;


}

.headerAndFooter {
 margin: 0px;
  background-color: #ea5169;
  text-align: center;
  /* margin: 0; */
}






p{
  margin-left: 5px;
}

.second{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

@keyframes appear {
  from {
    opacity: 0;
  }
  to{
    opacity:1;

  }
}


.second {
  /* background-color: red; this was to show the  */
  animation-name: appear;
  animation-duration: 5s;
  /* animation-delay: 3s; */
}





footer{
  position: relative;
  left: 0;
  bottom: 0;
  margin: -1;
}
